* {
    margin: 0.5em 10px;
    padding: 0;
    line-height: 1.5;
    box-sizing: border-box;
}

body {
    font: 120% "Graphik", sans-serif;
    background-color: #fff;
    letter-spacing: 0.7px;
    color: #222;
    margin: 0 auto;
    max-width: 55em;
}

h1 {
    font-size: 2em;
    text-align: left;
    color: #111;
    margin-top: 0.25em;
}

h1 a {
    color: #111;
    text-decoration: none;
    margin: 0em 0em;
}

h1 a:hover {
    color: #f4b300;
}

h2 {
    font-size: 1.5em;
    text-align: left;
    color: #222;
}

h3 {
    text-align: left;
    color: #222;
    text-transform: lowercase;
}

p {
    margin-bottom: 1em;
}

p a {
    text-align: left;
    color: #222;
    text-decoration: none;
    border-bottom: 2px solid;
}

p a:hover {
    border-color: #f4b300;
}

button {
    padding: 10px;
}

/* ToDo app CSS https://www.taniarascia.com/javascript-mvc-todo-app */
#root {
  max-width: 450px;
  margin: 2rem auto;
  padding: 0 1rem;
}

form {
  display: flex;
  margin-bottom: 2rem;
}

[type="text"],
button {
  display: inline-block;
  -webkit-appearance: none;
  padding: .5rem 1rem;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 4px;
}

button {
  cursor: pointer;
  background: #007bff;
  color: white;
  border: 2px solid #007bff;
  margin: 0 .5rem;
}

[type="text"] {
  width: 100%;
}

[type="text"]:active,
[type="text"]:focus {
  outline: 0;
  border: 2px solid #007bff;
}

[type="checkbox"] {
  margin-right: 1rem;
  font-size: 2rem;
}

ul {
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
  background: #f4f4f4;
  border-radius: 4px;
}

li span {
  display: inline-block;
  padding: .5rem;
  width: 250px;
  border-radius: 4px;
  border: 2px solid transparent;
}

li span:hover {
  background: rgba(179, 215, 255, 0.52);
}

li span:focus {
  outline: 0;
  border: 2px solid #007bff;
  background: rgba(179, 207, 255, 0.52)
}

/* End ToDo tutorial CSS */