* {
    margin: 0.5em 10px;
    padding: 0;
    line-height: 1.5;
    box-sizing: border-box;
}

body {
    font: 120% "Graphik", sans-serif;
    background-color: #fff;
    letter-spacing: 0.7px;
    color: #222;
    margin: 0 auto;
    max-width: 55em;
}

h1 {
    font-size: 2em;
    text-align: left;
    color: #111;
    margin-top: 0.25em;
}

h1 a {
    color: #111;
    text-decoration: none;
    margin: 0em 0em;
}

h1 a:hover {
    color: #f4b300;
}

h2 {
    font-size: 1.5em;
    text-align: left;
    color: #222;
}

h3 {
    text-align: left;
    color: #222;
    text-transform: lowercase;
}

p {
    margin-bottom: 1em;
}

p a {
    text-align: left;
    color: #222;
    text-decoration: none;
    border-bottom: 2px solid;
}

p a:hover {
    border-color: #f4b300;
}

input, select, textarea {
    font: 90% "Graphik", sans-serif;
    background-color: #fff;
    letter-spacing: 0.7px;
    color: #222;
    margin: 0 auto;
    max-width: 55em;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

label {
  font-weight: bold;
}


button {
  width: 100%;
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

ul {
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
  background: #f4f4f4;
  border-radius: 4px;
}

li span {
  display: inline-block;
  padding: .5rem;
  width: 70%;
  border-radius: 4px;
  border: 2px solid transparent;
}

li span:hover {
  background: rgba(179, 215, 255, 0.52);
}

li span:focus {
  outline: 0;
  border: 2px solid #007bff;
  background: rgba(179, 207, 255, 0.52)
}

.recipeHeader {
    font-size: 1.5em;
    text-align: left;
    color: #222;
    font-weight: bold;
}

.ingredients {
    font-size: 1em;
}

.cookingMethod {

}